[submodule "miniupnp"]
	path = miniupnp
	url = https://github.com/miniupnp/miniupnp
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "trezor-common"]
	path = trezor-common
	url = https://github.com/trezor/trezor-common.git
[submodule "supercop"]
	path = supercop
	url = https://github.com/monero-project/supercop
[submodule "RandomWOW"]
    path = RandomWOW
    url = https://codeberg.org/wownero/RandomWOW