[Unit]
Description=Nefeli coin Full Node
After=network.target

[Service]
User=nefeli
Group=nefeli
Environment="MONERO_RANDOMX_UMASK=1"
StateDirectory=wownero
LogsDirectory=wownero
Type=simple
ExecStart=/usr/local/bin/nefelid --config-file /etc/nefelid.conf --non-interactive
WorkingDirectory=~
Restart=always
StandardOutput=null
StandardError=null
Restart=always

[Install]
WantedBy=multi-user.target
